header {
  background-color: black;
}
body {
  /* background-color: coral; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  /* position: sticky; */
}
.lux-logo {
  color: rgb(255, 255, 255);
  display: block;
  margin: initial;
  padding-left: 35px;
}
.nav-option {
  margin: initial;
  list-style: none;
  color: rgb(255, 255, 255);
  display: flex;
  padding-right: 25px;
}
.nav-option > li {
  padding: 1rem;
}
.nav-option > li:hover {
  color: red;
}
a {
  text-decoration: none !important;
  color: white;
}
header a:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  body.active {
    overflow: hidden;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .nav-option {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -5000px;
  }

  .nav-option.active {
    top: 100%;
    /* z-index: 99; */
    height: 100vh;
    font-size: 1.5rem;
    background-color: black;
  }

  .toggle-menu {
    cursor: pointer;
    padding-right: 25px;
  }

  .toggle-menu .bar {
    width: 30px;
    background-color: white;
    padding-bottom: 3px;
    margin: 0.4rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  #moblie-menu {
    position: absolute;
    /* top: 15%;
    right: 5%; */
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(0.84rem);
    /* padding-right: 5px; */
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.84rem);
    /* padding-right: 5px; */
  }
}

/*section 2*/
.ad-article {
  background-image: url(image/redd-3mWxKnqET3E-unsplash.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content {
  padding-left: 3rem;
}
.content h1 {
  color: cyan;
  font-size: calmp(3rem, 5vw, 8rem);
  margin-bottom: 25px;
  text-transform: uppercase;
}
.content p {
  color: white;
  font-weight: bold;
}

/*section 3*/
.offers {
  padding: 7rem;
}
.offers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.offer-dis {
  padding-left: 3rem;
  /* font-size: bold; */
}
.feature {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.offer {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 6vw, 3rem);
}
.offer-list {
  list-style: none;
  padding-top: 1rem;
}
.offer-list li {
  margin-top: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
/* .offer-list li ::before {

} */
.room-pic img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .offers-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*section 3- book and cards*/
.card img {
  width: 50%;
}

.book {
  background-color: black;
}

.contents {
  padding: 1.5rem;
}
.contents h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
  padding-bottom: 0.5rem;
}

.contents > p {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
  padding-bottom: 1.5rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  flex-flow: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
.card-title {
  font-weight: 750;
}
.card-text {
  font-size: large;
}

.card > img {
  margin-top: 5px;
}

@media screen and(max-width:768px) {
}

/*Competitions Section (4)*/

.team-content {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 400px);
}

.room {
  margin: 2px;
  position: relative;
  text-align: center;
  margin: 10px;
}
.room img {
  width: 90%;
  height: 100%;
  border-radius: 10px;
}

.room p {
  color: whitesmoke;
  position: absolute;
  left: 20%;
  top: 90%;
  bottom:90%;
  right: 20%;
  font-weight: bold;
}

.freeTrial-title {
  font-size: bold;
}
.Competitions-title {
  font-size: bold;
}

.FreeTrial-dis {
  grid-column: 1/2;
  grid-row: 5/6;
}
.test {
  margin-left: 7%;
}

.trial {
  color: red;
}
.competition {
  color: red;
}
.Competitions-dis {
  grid-column: 2/3;
  grid-row: 1/2;
}
.team-content :nth-child(3) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.team-content :nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/4;
}
.team-content :nth-child(5) {
  grid-column: 1/2;
  grid-row: 3/5;
}
.team-content :nth-child(6) {
  grid-column: 2/3;
  grid-row: 4/6;
}

@media screen and (max-width: 768px) {
  .team-content {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.5fr);
  }
  .Competitions-dis {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .FreeTrial-dis {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .team-content :nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .team-content :nth-child(4) {
    /* height: 80%; */

    grid-column: 1/2;
    grid-row: 3/4;
  }
  .team-content :nth-child(5) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .team-content :nth-child(6) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
